#photo {
    width: 720px; /*ширина контейнера*/
    height: 960px; /*высота контейнера*/
    position: relative; /*относительное позиционирование*/
    background: url(../images/cat.jpg) no-repeat; /*фоновое изображение без повторений*/
}
#photo a {
    position: absolute; /*абсолютное позиционирование*/
    width: 690px; /*ширина контейнера гиперссылки*/
    height: 720px; /*высота контейнера гиперссылки*/
}
#photo b {
    position: absolute; /*абсолютное позиционирование*/
    width: 250px; /*ширина контейнера гиперссылки*/
    height: 250px; /*высота контейнера гиперссылки*/
}
#photo a:hover {
    border: 1px solid #663300;  /*рамка контейнера гирерссылки*/
}
#photo .rect a {
    top:0px; /*позиционирование гиперссылки*/
    left: 0px; /*позиционирование гиперссылки*/
}
#photo .circle b {
    top: 358px; /*позиционирование гиперссылки*/
    left: 348px; /*позиционирование гиперссылки*/
}