* {margin:0;}
.menu {
    position:absolute;
    float:left;
    height:1527px;
    top:0px;
    left:0px;
    width:300px;
    border-right:1px solid black;
    padding-top:50px;
}
.content {
    position:absolute;
    top:0px;
    left:300px;
    right:0px;
    bottom:0px;
    padding:20px;
}
.header2 {
    color:Black;
    font-family:"Times New Roman",serif;
    font-style:normal;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    text-decoration:underline;
}
#formula {
    font-size:30px;
    color:#006400;
    text-align:center;
}
#index {
    vertical-align: super;
}
#welcome {
    text-align: center;
}
